/* NAVEGADOR - GENERAL */
nav {
    font-size: 35px;
    background-color: darkgreen;
}

.nav-item {
    margin: 0 20px;
}

.bg-dark-green {
    background-color: darkgreen;
}

li a,
.whatsapp-link {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: 700;
    transition: all 0.3s ease;
}

nav li a:hover {
    color: rgb(235, 235, 235);
    text-shadow: 1px 1px 3px rgba(216, 211, 211, 0.5);
    border-radius: 5px;
}

.navbar-nav .nav-link {
    color: white;
    padding: 15px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.swal2-popup {
    font-size: 14px;
    width: 250px;
    padding: 20px;
}

.swal2-title {
    font-size: 16px;
}

.swal2-content {
    font-size: 14px;
}

.swal2-confirm {
    font-size: 14px;
    padding: 8px 16px;
}

/* Pagina Index */
.body-index {
    background-color: #bbddb9;
}

.container-index {
    display: flex;
    text-align: center;
    padding: 30px;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    margin: 20px;
    padding: 0 20%;
}

.image-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    background: #cfffd5;
}

.imagen-historia {
    display: flex;
    object-fit: cover;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 100px;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.imagen-portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container img {
    display: none;
}

.imagen-visible {
    display: block;
}

/* Pagina Productos */
.productos {
    background-color: #bbddb9;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
    background-color: #15823b;
    transform: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.container-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 0 25%;
    margin-top: 20px;
}

.card {
    background-color: #d7f5cf;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

.card p {
    margin: 0;
    font-family: fantasy;
    font-size: 25px;
    color: darkcyan;
}

.card img {
    border-radius: 20px 20px 0 0;
    margin-bottom: 10px;
}

.btn-success {
    /* Corrección del nombre de la clase */
    margin-right: 50px;
}

.button-productos {
    background-color: rgb(210, 123, 214);
    color: white;
    border: solid 3px navajowhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding: 5px 20px;
    margin-top: auto;
    border-radius: 10px 10px 0 0;
}

#carrito-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
}

#finalizar-compra {
    background-color: #15823b;
    color: white;
    margin-bottom: 15px;
}

.input-productos {
    border-color: white;
    border-radius: 10px 10px 0 0;
    color: darkcyan;
    height: 30px;
}

.titulos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    color: #15823b;
}

.titulos2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    background-color: #cfffd5;
    margin-top: 20px;
}

.titulos3 {
    color: #eeeae9;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    opacity: 0.8;
}

#payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagenes/cobros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.88;
    margin-bottom: 10px;
}

.tarjeta {
    color: rgb(17, 1, 1);
    font-size: 15px;
}

footer {
    background-color: #15823b;
    padding: 20px 0;
    text-align: center;
    color: white;
}

/* Pagina contacto */
.contacto-fondo {
    background-color: #bbddb9;
    background-image: url(../imagenes/contactanos.png);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container-formulario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}

.form {
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
}

.whatsapp-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.whatsapp-link img {
    width: 120px;
    height: 120px;
}

.whatsapp-link a {
    color: #197a3b;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.whatsapp-link a:hover {
    color: #d36ef1;
}

.campo-grande,
.consulta-amplia {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.campo-grande {
    font-size: 20px;
    border: 3px solid #a6eeaf;
}

.consulta-amplia {
    font-size: 20px;
    border: 3px solid #a6eeaf;
}

label {
    font-size: 20px;
    color: #197a3b;
    font-weight: 600;
}

.contacto-button,
.button,
.btn-primary,
.btn,
.btn-eliminar {
    font-size: 20px;
    width: fit-content;
    height: 50px;
    color: beige;
    background-color: #53be79;
    border: #7bd4aa;
    border-radius: 20px;
    margin: 20px 20px 20px 0;
}

.btn-eliminar:hover,
.button #finalizar-compra:hover {
    background-color: #be44a4;
}

.btn-eliminar {
    height: 30px;
    font-size: 15px;
}

.contacto-button:hover {
    color: #197a3b;
}

.image-contacto {
    display: flex;
    flex-direction: column;
}

th {
    text-align: left;
}

div:where(.swal2-icon) {
    user-select: none;
    -webkit-user-select: none;
}

@media (max-width: 1200px) {
    .container-productos {
        padding: 0 15%;
    }
}

@media (max-width: 992px) {
    .container-productos {
        padding: 0 10%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container-productos {
        padding: 0 2%;


    }
    .container-index {
        padding: 0 10%;
    }

    .image-container {
        flex-direction: column;
        gap: 10px;
    }

    .imagen-historia {
        margin-bottom: 30px;
    }
    .card p,
    .titulos,
    .titulos2,
    .titulos3,
    .label,
    .button-productos,
    .btn-success,
    .offcanvas.showing,
    .button,
    .btn-primary,
    .offcanvas.show:not(.hiding) {
        font-size: 14px;
    }

}